In [2]:
import pandas as pd
d=pd.read_csv("C:\\Users\\depak\\OneDrive\\Desktop\\rkkk\\icpc-full.csv")
df=pd.DataFrame(d)
print(d)

      Year        Date         Host       City  \
0     1999  1999-04-11  Netherlands  Eindhoven
1     1999  1999-04-11  Netherlands  Eindhoven
2     1999  1999-04-11  Netherlands  Eindhoven
3     1999  1999-04-11  Netherlands  Eindhoven
4     1999  1999-04-11  Netherlands  Eindhoven
...    ...         ...          ...        ...
2303  2021  2022-11-10   Bangladesh      Dhaka
2304  2021  2022-11-10   Bangladesh      Dhaka
2305  2021  2022-11-10   Bangladesh      Dhaka
2306  2021  2022-11-10   Bangladesh      Dhaka
2307  2021  2022-11-10   Bangladesh      Dhaka

                                          Venue   Rank  \
0            Eindhoven University of Technology    1.0
1            Eindhoven University of Technology    2.0
2            Eindhoven University of Technology    3.0
3            Eindhoven University of Technology    4.0
4            Eindhoven University of Technology    5.0
...                                         ...    ...
2303  International Convention City Bashundhara  126.0
2304  International Convention City Bashundhara  126.0
2305  International Convention City Bashundhara  126.0
2306  International Convention City Bashundhara  126.0
2307  International Convention City Bashundhara  126.0

                                             University        Country  \
0                                University of Waterloo         Canada
1                   Albert-Ludwigs-Universität Freiburg        Germany
2     St. Petersburg Institute of Fine Mechanics & O...         Russia
3                               University of Bucharest        Romania
4                                       Duke University  United States
...                                                 ...            ...
2303                         German University in Cairo          Egypt
2304                          Syrian Virtual University          Syria
2305                 Universidad Tecnologica de Pereira       Colombia
2306                          Universidad de Costa Rica     Costa Rica
2307          University of Chinese Academy of Sciences          China

                     Team             Contestant 1  ...  \
0              U Waterloo            David Kennedy  ...
1         Freiburg B Team                      NaN  ...
2     St. Petersburg IFMO         Alexander Volkov  ...
3        UNIBUC Bucharest                      NaN  ...
4        Duke Blue Devils                      NaN  ...
...                   ...                      ...  ...
2303             Treevial        Abdelrahman Selim  ...
2304             Traitors       Mhd Adel SaadEddin  ...
2305          UTP - Lucas  Jhon Alex Gaviria Tobón  ...
2306         Chayotes UCR      César Herrera Garro  ...
2307      Retired Masters              Tianle Chen  ...

               Contestant 3   Gold  Silver  Bronze  Honorable  Score  Total  \
0            Viet-Trung Luu   True   False   False      False    6.0      8
1                       NaN  False    True   False      False    6.0      8
2          Vladimir Lyovkin  False   False    True      False    6.0      8
3                       NaN  False   False    True      False    6.0      8
4                       NaN  False   False    True      False    6.0      8
...                     ...    ...     ...     ...        ...    ...    ...
2303             Omar Tarek  False   False   False       True    0.0     12
2304        Zaher SaadEddin  False   False   False       True    0.0     12
2305  Yeferson Gaitan Gomez  False   False   False       True    0.0     12
2306            Kevin Rojas  False   False   False       True    0.0     12
2307            Yunhan Shen  False   False   False       True    0.0     12

      Score Percentage  Penalty           Prize
0                 0.75    948.0  World Champion
1                 0.75    992.0             NaN
2                 0.75   1046.0             NaN
3                 0.75   1048.0             NaN
4                 0.75   1337.0             NaN
...                ...      ...             ...
2303              0.00      0.0             NaN
2304              0.00      0.0             NaN
2305              0.00      0.0             NaN
2306              0.00      0.0             NaN
2307              0.00      0.0             NaN

[2308 rows x 21 columns]

In [3]:
df.head()

,Year,Date,Host,City,Venue,Rank,University,Country,Team,Contestant 1,...,Contestant 3,Gold,Silver,Bronze,Honorable,Score,Total,Score Percentage,Penalty,Prize
0,1999,1999-04-11,Netherlands,Eindhoven,Eindhoven University of Technology,1.0,University of Waterloo,Canada,U Waterloo,David Kennedy,...,Viet-Trung Luu,True,False,False,False,6.0,8,0.75,948.0,World Champion
1,1999,1999-04-11,Netherlands,Eindhoven,Eindhoven University of Technology,2.0,Albert-Ludwigs-Universität Freiburg,Germany,Freiburg B Team,NaN,...,NaN,False,True,False,False,6.0,8,0.75,992.0,NaN
2,1999,1999-04-11,Netherlands,Eindhoven,Eindhoven University of Technology,3.0,St. Petersburg Institute of Fine Mechanics & O...,Russia,St. Petersburg IFMO,Alexander Volkov,...,Vladimir Lyovkin,False,False,True,False,6.0,8,0.75,1046.0,NaN
3,1999,1999-04-11,Netherlands,Eindhoven,Eindhoven University of Technology,4.0,University of Bucharest,Romania,UNIBUC Bucharest,NaN,...,NaN,False,False,True,False,6.0,8,0.75,1048.0,NaN
4,1999,1999-04-11,Netherlands,Eindhoven,Eindhoven University of Technology,5.0,Duke University,United States,Duke Blue Devils,NaN,...,NaN,False,False,True,False,6.0,8,0.75,1337.0,NaN

In [4]:
df.tail()

,Year,Date,Host,City,Venue,Rank,University,Country,Team,Contestant 1,...,Contestant 3,Gold,Silver,Bronze,Honorable,Score,Total,Score Percentage,Penalty,Prize
2303,2021,2022-11-10,Bangladesh,Dhaka,International Convention City Bashundhara,126.0,German University in Cairo,Egypt,Treevial,Abdelrahman Selim,...,Omar Tarek,False,False,False,True,0.0,12,0.0,0.0,NaN
2304,2021,2022-11-10,Bangladesh,Dhaka,International Convention City Bashundhara,126.0,Syrian Virtual University,Syria,Traitors,Mhd Adel SaadEddin,...,Zaher SaadEddin,False,False,False,True,0.0,12,0.0,0.0,NaN
2305,2021,2022-11-10,Bangladesh,Dhaka,International Convention City Bashundhara,126.0,Universidad Tecnologica de Pereira,Colombia,UTP - Lucas,Jhon Alex Gaviria Tobón,...,Yeferson Gaitan Gomez,False,False,False,True,0.0,12,0.0,0.0,NaN
2306,2021,2022-11-10,Bangladesh,Dhaka,International Convention City Bashundhara,126.0,Universidad de Costa Rica,Costa Rica,Chayotes UCR,César Herrera Garro,...,Kevin Rojas,False,False,False,True,0.0,12,0.0,0.0,NaN
2307,2021,2022-11-10,Bangladesh,Dhaka,International Convention City Bashundhara,126.0,University of Chinese Academy of Sciences,China,Retired Masters,Tianle Chen,...,Yunhan Shen,False,False,False,True,0.0,12,0.0,0.0,NaN

In [8]:
df.sort_values("Score")

,Year,Date,Host,City,Venue,Rank,University,Country,Team,Contestant 1,...,Contestant 3,Gold,Silver,Bronze,Honorable,Score,Total,Score Percentage,Penalty,Prize
2307,2021,2022-11-10,Bangladesh,Dhaka,International Convention City Bashundhara,126.0,University of Chinese Academy of Sciences,China,Retired Masters,Tianle Chen,...,Yunhan Shen,False,False,False,True,0.0,12,0.0,0.0,NaN
387,2004,2004-03-31,Czechia,Prague,Municipal House (Obecni Dum),68.0,The Johns Hopkins University,United States,11 Guys,NaN,...,NaN,False,False,False,True,0.0,10,0.0,0.0,NaN
386,2004,2004-03-31,Czechia,Prague,Municipal House (Obecni Dum),68.0,LeTourneau University,United States,Single-File Zummzian Zuks,NaN,...,NaN,False,False,False,True,0.0,10,0.0,0.0,NaN
385,2004,2004-03-31,Czechia,Prague,Municipal House (Obecni Dum),68.0,ITESM Campus Monterrey,Mexico,The Deadly Coding Squad,NaN,...,NaN,False,False,False,True,0.0,10,0.0,0.0,NaN
1396,2014,2014-06-25,Russia,Yekaterinburg,Palace of Team Sports (DIVS),103.0,University of Virginia,United States,foo,Jinyan Liu,...,Shuaihao Zhang,False,False,False,True,0.0,12,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,University of Hong Kong,Hong Kong,Far,Kwong Hei Ng,...,Yip Lik Yau,False,False,False,True,NaN,11,NaN,NaN,NaN
835,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,University of Nebraska - Lincoln,United States,Incendiary Pigs,Steve Trout,...,Tyler Lemburg,False,False,False,True,NaN,11,NaN,NaN,NaN
836,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,University of Virginia,United States,Fum,Briana Satchell,...,George Washington,False,False,False,True,NaN,11,NaN,NaN,NaN
837,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,Washington University in St. Louis,United States,WUSTL 1,Aayush Munjal,...,Sean Fellows,False,False,False,True,NaN,11,NaN,NaN,NaN
838,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,Wuhan University,China,ChaeYeon,Hanqing Cui,...,Yunxiang Gao,False,False,False,True,NaN,11,NaN,NaN,NaN

In [9]:
df.sort_values("Total",ascending=False)

,Year,Date,Host,City,Venue,Rank,University,Country,Team,Contestant 1,...,Contestant 3,Gold,Silver,Bronze,Honorable,Score,Total,Score Percentage,Penalty,Prize
2129,2020,2021-10-05,Russia,Moscow,Moscow Manege,71.0,Netaji Subhash University Of Technology,India,!zero,Nipun Jain,...,Vyomkesh Anche,False,False,False,True,4.0,15,0.27,823.0,NaN
2084,2020,2021-10-05,Russia,Moscow,Moscow Manege,26.0,University of Latvia,Latvia,LU 2,Aleksandrs Zajakins,...,Kristaps Civkulis,False,False,False,True,7.0,15,0.47,1022.0,NaN
2166,2020,2021-10-05,Russia,Moscow,Moscow Manege,108.0,Universidad Panamericana Campus Bonaterra,Mexico,UPsolving,Eduardo Efrén González González,...,Manuel Alejandro Rodríguez Rivera,False,False,False,True,1.0,15,0.07,99.0,NaN
2165,2020,2021-10-05,Russia,Moscow,Moscow Manege,107.0,Universidad Simón Bolívar,Venezuela,La bomba de tenedores,Jesus De Aguiar,...,Neil Villamizar,False,False,False,True,1.0,15,0.07,98.0,NaN
2164,2020,2021-10-05,Russia,Moscow,Moscow Manege,106.0,Universidade de São Paulo - Campus de São Carlos,Brazil,Triple G,Gabriel Pinto De Camargo,...,Gustavo Soares,False,False,False,True,2.0,15,0.13,526.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,2005,2005-04-06,China,Shanghai,Pudong Shangri-La Hotel,10.0,POLITEHNICA University of Bucharest,Romania,UPBucharest,NaN,...,NaN,False,False,True,False,6.0,8,0.75,1113.0,NaN
399,2005,2005-04-06,China,Shanghai,Pudong Shangri-La Hotel,9.0,Izhevsk State Technical University,Russia,IzhevskSTU 1,Alexander Skidanov,...,Ruslan Kovychev,False,False,True,False,6.0,8,0.75,1072.0,NaN
398,2005,2005-04-06,China,Shanghai,Pudong Shangri-La Hotel,8.0,Norwegian University of Science and Technology,Norway,Norwegian University,NaN,...,NaN,False,True,False,False,6.0,8,0.75,1054.0,NaN
397,2005,2005-04-06,China,Shanghai,Pudong Shangri-La Hotel,7.0,KTH - Royal Institute of Technology,Sweden,KTH - Three-Headed Monkey,NaN,...,NaN,False,True,False,False,6.0,8,0.75,965.0,NaN
0,1999,1999-04-11,Netherlands,Eindhoven,Eindhoven University of Technology,1.0,University of Waterloo,Canada,U Waterloo,David Kennedy,...,Viet-Trung Luu,True,False,False,False,6.0,8,0.75,948.0,World Champion

In [10]:
df.sort_values("Score Percentage",ascending=False)

,Year,Date,Host,City,Venue,Rank,University,Country,Team,Contestant 1,...,Contestant 3,Gold,Silver,Bronze,Honorable,Score,Total,Score Percentage,Penalty,Prize
391,2005,2005-04-06,China,Shanghai,Pudong Shangri-La Hotel,1.0,Shanghai Jiao Tong University,China,Shanghai Jiaotong U Spirit,Bohai Yang,...,Wenyuan Dai,True,False,False,False,8.0,8,1.00,1517.0,"World Champion, Asia Champion"
1397,2015,2015-05-20,Morocco,Marrakech,Palmeraie Conference Center,1.0,St. Petersburg National Research University of...,Russia,SPb ITMO University 1,Artem Vasilyev,...,Gennady Korotkevich,True,False,False,False,13.0,13,1.00,1801.0,"World Champion, Europe Champion"
2176,2021,2022-11-10,Bangladesh,Dhaka,International Convention City Bashundhara,1.0,Massachusetts Institute of Technology,United States,MIT ZEROONE,Jerry Mao,...,Xiao Mao,True,False,False,False,11.0,12,0.92,1339.0,"World Champion, North America Champion"
1924,2019,2019-04-04,Portugal,Porto,Alfândega Congress Centre,1.0,Moscow State University,Russia,Moscow SU: Red Panda,Grigory Reznikov,...,Vladislav Makeev,True,False,False,False,10.0,11,0.91,1531.0,"World Champion, Northern Eurasia Champion"
1159,2013,2013-07-03,Russia,Saint Petersburg,Yubileyny Sports Palace,1.0,St. Petersburg National Research University of...,Russia,SPb NRU ITMO 1,Gennady Korotkevich,...,Niyaz Nigmatullin,True,False,False,False,10.0,11,0.91,1176.0,"World Champion, Europe Champion"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,University of Hong Kong,Hong Kong,Far,Kwong Hei Ng,...,Yip Lik Yau,False,False,False,True,NaN,11,NaN,NaN,NaN
835,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,University of Nebraska - Lincoln,United States,Incendiary Pigs,Steve Trout,...,Tyler Lemburg,False,False,False,True,NaN,11,NaN,NaN,NaN
836,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,University of Virginia,United States,Fum,Briana Satchell,...,George Washington,False,False,False,True,NaN,11,NaN,NaN,NaN
837,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,Washington University in St. Louis,United States,WUSTL 1,Aayush Munjal,...,Sean Fellows,False,False,False,True,NaN,11,NaN,NaN,NaN
838,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,Wuhan University,China,ChaeYeon,Hanqing Cui,...,Yunxiang Gao,False,False,False,True,NaN,11,NaN,NaN,NaN

In [11]:
df.sort_values("Penalty",ascending=False)

,Year,Date,Host,City,Venue,Rank,University,Country,Team,Contestant 1,...,Contestant 3,Gold,Silver,Bronze,Honorable,Score,Total,Score Percentage,Penalty,Prize
2065,2020,2021-10-05,Russia,Moscow,Moscow Manege,7.0,Belarusian State University,Belarus,Belarusian SU #1,Aliaksandr Kernazhytski,...,Yahor Dubovik,False,True,False,False,11.0,15,0.73,1912.0,NaN
2064,2020,2021-10-05,Russia,Moscow,Moscow Manege,6.0,University of Cambridge,United Kingdom,Treeniceratops,David Wärn,...,Maja Trela,False,True,False,False,11.0,15,0.73,1905.0,NaN
2069,2020,2021-10-05,Russia,Moscow,Moscow Manege,11.0,University of Illinois at Urbana-Champaign,United States,Must Pass,Yen-Hsiang Chang,...,Zihan Wang,False,False,True,False,10.0,15,0.67,1837.0,NaN
1397,2015,2015-05-20,Morocco,Marrakech,Palmeraie Conference Center,1.0,St. Petersburg National Research University of...,Russia,SPb ITMO University 1,Artem Vasilyev,...,Gennady Korotkevich,True,False,False,False,13.0,13,1.00,1801.0,"World Champion, Europe Champion"
740,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,2.0,Tsinghua University,China,Proxima,Tiancheng Lou,...,Zeyuan Zhu,True,False,False,False,9.0,11,0.82,1800.0,Asia Champion
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,University of Hong Kong,Hong Kong,Far,Kwong Hei Ng,...,Yip Lik Yau,False,False,False,True,NaN,11,NaN,NaN,NaN
835,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,University of Nebraska - Lincoln,United States,Incendiary Pigs,Steve Trout,...,Tyler Lemburg,False,False,False,True,NaN,11,NaN,NaN,NaN
836,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,University of Virginia,United States,Fum,Briana Satchell,...,George Washington,False,False,False,True,NaN,11,NaN,NaN,NaN
837,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,Washington University in St. Louis,United States,WUSTL 1,Aayush Munjal,...,Sean Fellows,False,False,False,True,NaN,11,NaN,NaN,NaN
838,2009,2009-04-21,Sweden,Stockholm,KTH – Royal Institute of Technology,NaN,Wuhan University,China,ChaeYeon,Hanqing Cui,...,Yunxiang Gao,False,False,False,True,NaN,11,NaN,NaN,NaN